.App {
  font-family: sans-serif;
  text-align: center;
}
.leaflet-container {
  height: 100vh;
  width: 100vw;
}
img:not([src*='.svg']) {
  filter: grayscale(100%) contrast(120%);
}
body {
  margin: 0;
}